/*Общие стили*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.4);
}

/*Стили для Header*/
.main-navigation {
  position: relative;
  font-weight: bold;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: -3px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  width: 241px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: auto;
}

.site-navigation li:nth-child(4n-3),
.site-navigation li:nth-child(4n-2) {
  display: block;
  padding-left: 72px;
  text-align: left;
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n) {
  display: block;
  padding-right: 72px;
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-active {
  color: #766357;
}

/*Стили для Footer*/
.main-footer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding-top: 33px;
  padding-bottom: 33px;
  bottom: 0;
  background-color: rgba(254, 254, 254, 0.9);
}

.inner-footer {
  position: relative;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.footer-contacts span {
  display: block;
  margin-bottom: 2px;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  width: 33.3333333%;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-contacts-inner {
  padding-left: 68px;
}

.footer-contacts a {
  display: block;
  color: #000000;
  line-height: 20px;
}

.footer-contacts-hashtag {
  margin-bottom: 14px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: #81b3d2;
}

.footer-contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-social {
  justify-content: center;
  width: 33.3333333%;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: #81b3d2;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-item:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3333333%;
  color: #000000;
}

.copyright-link {
  display: inline-block;
  vertical-align: center;
  margin-left: 8px;
  height: 41px;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

/*Стили для index*/
.welcome {
  text-align: center;
  min-height: 509px;
  background-color: #81b3d2;
  background-image: url("../img/polygon.png"),
  url("../img/background-photo.jpg");
  background-position: -1px 451px, 0px -81px;
  background-size: 1204px 59px, 100%;
  background-repeat: no-repeat;
}

.welcome img {
  position: relative;
  top: 76px;
}

.reasons {
  text-align: center;
}

.reasons h2,
.reasons h3,
.reasons h4,
.reasons p {
  margin: 0;
  padding: 0;
}

.reasons-description {
  padding: 30px 100px;
}

.reasons-description h2 {
  padding-top: 30px;
  padding-bottom: 27px;
  line-height: 26px;
}

.reasons-description p {
  padding-bottom: 21px;
  line-height: 26px;
}

.reasons-list,
.features-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reasons-item h3,
.features-item h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.reasons-item-image img {
  display: block;
}

.reasons-item .item-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item.item-gray {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding-top: 45px;
  padding-right: 65px;
  padding-bottom: 60px;
  padding-left: 65px;
  background-color: #eeeeee;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reasons-item {
  min-width: 400px;
}

.reasons-item h3 {
  padding-bottom: 25px;
}

.reasons-item p {
  padding-top: 21px;
}

.reasons-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.reasons-item-wrapper.reverse {
  flex-direction: row-reverse;
}

.item-blue .reasons-item-inner {
  width: 400px;
  padding: 45px;
  padding-bottom: 30px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-item {
  flex-grow: 1;
  width: 400px;
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 82px;
}

.features-item-house::before {
  display: block;
  content: "";
  width: 75px;
  height: 72px;
  margin: -1px auto 30px auto;
  background-image: url("../img/icon-house-1.svg");
  background-repeat: no-repeat;

}

.features-item-food::before {
  display: block;
  content: "";
  width: 74px;
  height: 70px;
  margin: 1px auto 30px auto;
  background-image: url("../img/icon-food-2.svg");
  background-repeat: no-repeat;
}

.features-item-souvenirs::before {
  display: block;
  content: "";
  width: 64px;
  height: 76px;
  margin: -5px auto 30px auto;
  background-image: url("../img/icon-souvenirs-3.svg");
  background-repeat: no-repeat;
}

.features-item p {
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

/*Стили для index форма*/
.search-hotel {
  position: relative;
}

.question {
  text-align: center;
  width: 568px;
  margin: 0 auto;
  padding-top: 50px;
}

.question h2 {
  margin: 0;
  padding-bottom: 23px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.question p {
  margin: 0;
  padding-bottom: 47px;
  line-height: 24px;
}

.search-hotel-form-title {
  display: block;
  z-index: 4;
  text-align: center;
  width: 568px;
  min-height: 86px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.search-hotel-form-title:hover,
.search-hotel-form-title:focus {
  background-color: #604e43;
}

.search-hotel-form-title:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-error {
  animation: shake 0.5s;
}

.search-hotel-form {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 3;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 568px;
  height: 395px;
  padding: 55px;
  padding-top: 40px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  transition: height 0.4s;
}

.form-hidden {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: height 0.4s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-4px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

/*Форма*/
.checkin,
.checkout {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -3px;
}

.search-form-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 225px;
  margin-top: -3px;
}

.search-hotel-form input[type="text"]:hover,
.search-hotel-form input[type="number"]:hover {
  background-color: #ebebeb;
}

.search-hotel-form input[type="text"]:focus,
.search-hotel-form input[type="number"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.number-input {
  display: flex;
  justify-content: space-between;
}

.search-form-children {
  padding-left: 50px;
}

.search-hotel-form label {
  font-weight: 700;
  color: #000000;
}

.search-hotel-form input[type="text"] {
  padding-left: 12px;
  padding-right: 40px;
}

.search-hotel-form input[type="text"],
.search-hotel-form input[type="number"] {
  background: #f2f2f2;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}

input[type="text"]::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

input[type="text"]::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

input[type="text"]::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

input[type="text"]::placeholder {
  color: #000000;
}

.search-hotel-form input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.search-form-counter input[type="text"]:focus,
.search-form-counter input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-hotel-date {
  height: 38px;
  width: 346px;
  margin-left: auto;
}

.form-search-calendar {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: #cacaca;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-search-calendar:hover {
  fill: #000000;
}

.form-search-calendar:active {
  fill: #81b3d2;
  font: inherit;
}

.number-input-button {
  position: relative;
  height: 38px;
  width: 38px;
  padding: 0;
  border: 0;
  text-align: center;
  font-size: 14px;
  background: rgb(242, 242, 242);
  cursor: pointer;
  outline: none;
}

.button-minus::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  top: 48%;
  left: 40%;
  background-color: #a9a9a9;
}

.button-plus::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 47%;
  left: 38%;
  background-color: #a9a9a9;
}

.button-plus::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  top: 47%;
  left: 38%;
  background-color: #a9a9a9;
  transform: rotate(90deg);
}

.button-plus:hover::before,
.button-plus:focus::before,
.button-plus:hover::after,
.button-plus:focus::after,
.button-minus:hover::after,
.button-minus:focus::after {
  background-color: #000000;
}

.button-plus:active::after,
.button-plus:active::before,
.button-minus:active::after {
  background-color: #81b3d2;
}

.search-hotel-button {
  width: 458px;
  height: 58px;
  margin-top: auto;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  cursor: pointer;
  border: none;
}

.search-hotel-button:hover,
.search-hotel-button:focus {
  background-color: #669ec0;
}

.search-hotel-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel figure {
  height: 594px;
  margin: 0;
  padding: 0;
}

.search-hotel iframe {
  position: absolute;
  z-index: 1;
  border: none;
}

/*Страница Hotel*/
/*Фильтр + сортировка*/
.filters {
  padding-top: 27px;
  padding-right: 73px;
  padding-left: 73px;
  padding-bottom: 7px;
  background-color: #669ec0;
  background-image: url("../img/background-filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-hotels {
  display: flex;
  justify-content: space-between;
}

.filter-hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-checkbox {
  display: flex;
  width: 700px;
}

.filter-hotels fieldset {
  border: none;
}

.filter-hotels legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-hotel-item {
  padding-bottom: 25px;
}

.filter-hotels label {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}

.filter-legend {
  padding-bottom: 25px;
}

.filter-infrastructure {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 0;
  margin-right: 118px;
  padding: 0;
}

.filter-type-house {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.filter-hotels-check {
  padding-left: 38px;
}

.filter-hotels-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  clip: rect(0 0 0 0);
}

.filter-hotels-check-box {
  position: absolute;
  width: 27px;
  height: 23px;
  margin-left: -38px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-hotels-input:checked + .filter-hotels-check-box {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-hotels-input:disabled + .filter-hotels-check-box {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.filter-hotels-input:checked:disabled + .filter-hotels-check-box {
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.filter-hotels-input:focus + .filter-hotels-check-box {
  outline: -webkit-focus-ring-color auto 5px;
}

.filter-hotels-input:checked:focus + .filter-hotels-check-box {
  outline: -webkit-focus-ring-color auto 5px;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 6px;
}

.price-controls {
  position: relative;
  box-sizing: content-box;
  height: 33px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 33px;
  cursor: pointer;
}

.price-controls .min-price {
  box-sizing: content-box;
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  box-sizing: content-box;
  width: 90px;
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.range-controls {
  position: relative;
  margin-bottom: 22px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.button-show {
  min-width: 133px;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 35px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.button-show:hover,
.button-show:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
}

.sorting-results {
  margin-right: 46px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.sorting-filter {
  display: flex;
  margin-right: auto;
}

.sorting-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-filter-list li {
  padding-right: 33px;
}

.sorting-filter-title {
  margin-right: 40px;
}

.sorting-filter a,
.sorting-filter-title {
  font-size: 12px;
  color: #000000;
}

.sorting-filter a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-filter .active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-filter a:hover,
.sorting-filter a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-filter a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-icon {
  padding-left: 8px;
  vertical-align: center;
}

.sorting-icon:hover path,
.sorting-icon:focus path {
  fill: #231F20;
}

.sorting-icon:active path,
.arrow-active path {
  fill: #81b3d2;
}

/*Отели*/
.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  /*min-height: 150px;*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item-inner {
  display: flex;
}

.hotel-item p,
.hotel-item h3 {
  margin: 0;
  padding: 0;
}

.hotel-item-title a {
  display: inline-block;
  vertical-align: center;
  flex-basis: 135px;
  flex-shrink: 0;
  margin-top: -5px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-item-title a:hover,
.hotel-item-title a:focus {
  color: #81b3d2;
}

.hotel-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  flex-grow: 1;
  width: 750px;
  padding-left: 30px;
}

.hotel-item img {
  flex-basis: 135px;
  flex-shrink: 0;
}

.hotel-description h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
}

.hotel-description p {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}

.hotel-type,
.hotel-price {
  display: block;
  min-width: 116px;
  padding-right: 10px;
}

.hotel-item .hotel-more {
  display: inline-block;
  vertical-align: center;
  text-align: center;
  max-width: 170px;
  margin-right: 4px;
  padding: 4px 16px;
  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}

.hotel-item .hotel-more:hover,
.hotel-item .hotel-more:focus {
  background-color: #669ec0;
}

.hotel-item .hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-item .hotel-reservation {
  display: inline-block;
  vertical-align: center;
  text-align: center;
  max-width: 170px;
  margin-right: 4px;
  padding: 4px 16px;
  color: #ffffff;
  font-weight: 700;
  background-color: #766357;
}

.hotel-item .hotel-reservation:hover,
.hotel-item .hotel-reservation:focus {
  background-color: #604e43;
}

.hotel-item .hotel-reservation:active {
  border-bottom: 1px solid #503e33;
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.hotel-rating-five-star {
  align-self: flex-end;
  width: 105px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
}

.hotel-rating-four-star {
  align-self: flex-end;
  width: 89px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
}

.hotel-rating-three-star {
  align-self: flex-end;
  width: 65px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
}

.hotel-rating-two-star {
  align-self: flex-end;
  width: 40px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
}

.hotel-rating-one-star {
  align-self: flex-end;
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
}

.rating-hotel-number {
  min-width: 110px;
  padding: 4px 10px;
  text-align: center;
  color: #666666;
  line-height: 20px;
  background-color: #f2f2f2;
  margin-top: 45px;
}


