/*Общие стили*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
}


.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.4);
}

/*Стили для Header*/


.main-navigation {
  font-weight: bold;
  color: #000000;
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation li {
  min-width: 239px;
  flex-basis: 239px;
  flex-shrink: 0;
  text-align: center;
}

.site-navigation li:nth-child(3) {
  margin-left: 244px;
}

.site-navigation a {
  color: #000000;
  display: block;
  padding: 11px 15px;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
  color: #766357;
}

/*Стили для Footer*/

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 48px;
  background-color: rgba(254, 254, 254, 0.9);
  padding-top: 34px;
  padding-bottom: 34px;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-contacts a {
  color: #000000;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}


.social-item:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  color: #000000;
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}

.copyright-link {
  width: 115px;
  height: 41px;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

/*Стили для index*/

.welcome {
  background-color: #81b3d2;
  background-image: url("../img/polygon.png"),
  url("../img/background-photo.jpg");
  background-position: -1px 451px, 0px -81px;
  background-size: 1204px 59px, 100%;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 509px;
}

.welcome img {
  position: relative;
  top: 76px;
}


.reasons {
  text-align: center;
}

.reasons-list,
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reasons-item h3,
.features-item h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.reasons-item-image img {
  display: block;
}

.reasons-item .item-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item.item-gray {
  background-color: #eeeeee;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reasons-item {
  min-height: 256px;
  min-width: 400px;
}

.reasons-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.reasons-item-wrapper.reverse {
  flex-direction: row-reverse;
}

.reasons-item-inner {
  margin: auto;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 330px;
}

.features-item {
  width: 400px;
  padding: 50px;
  padding-top: 140px;
}

.features-item h4 {
  position: relative;
}

.features-item-house h4::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 113px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-house-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-food h4::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 113px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-food-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-souvenirs h4::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 120px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-souvenirs-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Стили для index форма*/


.search-hotel h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.search-hotel p {
  line-height: 24px;
  text-align: center;
}

.search-hotel-form-title {
  display: block;
  width: 568px;
  min-height: 86px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.search-hotel-form-title:hover,
.search-hotel-form-title:focus {
  background-color: #604e43;
}

.search-hotel-form-title:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotel-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  width: 568px;
  height: 397px;
  margin-left: 316px;
  padding: 55px;
  background-color: #ffffff;
}


.search-hotel-form label {
  font-weight: 700;
  color: #000000;
}

.search-hotel-form input[type="text"],
.search-hotel-form input[type="number"] {
  background: #f2f2f2;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel-form input[type="text"]::-webkit-input-placeholder,
.search-hotel-form input[type="number"]::-webkit-input-placeholder {
  color: #000000;
  font-weight: 700;
}

.search-hotel-form input[type="text"]:-ms-input-placeholder,
.search-hotel-form input[type="number"]:-ms-input-placeholder {
  color: #000000;
  font-weight: 700;
}

.search-hotel-form input[type="text"]::-ms-input-placeholder,
.search-hotel-form input[type="text"]::-ms-number-placeholder {
  color: #000000;
  font-weight: 700;
}

.search-hotel-form input[type="text"]::placeholder,
.search-hotel-form input[type="number"]::placeholder {
  color: #000000;
  font-weight: 700;
}

.search-hotel-form input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.search-hotel-form input[type="number"]::-webkit-inner-spin-button,
.search-hotel-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.search-hotel-date {
  height: 38px;
  width: 346px;
}

.number-input-button {
  padding: 0;
  border: 0;
  background: rgb(242, 242, 242);
  height: 38px;
  width: 38px;
  text-align: center;
  font-size: 14px;
}

.number-input-cursor {
  cursor: pointer;
}

.search-hotel-button {
  width: 458px;
  height: 58px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  cursor: pointer;
}

.search-hotel-button:hover,
.search-hotel-button:focus {
  background-color: #669ec0;
}

.search-hotel-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel figure {
  height: 593px;
  margin: 0;
  padding: 0;
}

/*Страница Hotel*/
/*Фильтр + сортировка*/
.filters {
  background-color: #669ec0;
  background-image: url("../img/background-filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 212px;
  padding-top: 27px;
  padding-right: 73px;
  padding-left: 73px;
}

.filter-hotels {
  display: flex;
}


.filter-hotels fieldset {
  border: none;
}

.filter-hotels legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-hotels-input:disabled + label {
  color: #6a6a6a;
}

.filter-hotels label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

/*Стилизация из демки*/

.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


/*Стилизация из демки конец*/

.button-show {
  min-width: 133px;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 35px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.button-show:hover,
.button-show:hover {
  color: #000000;
  background-color: #ffffff;
}

.results {
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 85px;
  padding-left: 70px;
}

.sorting-filter {
  margin-left: 45px;
}

.sorting-filter a {
  margin: 0 15px;
}

.sorting-filter-title {
  margin-right: 20px;
}

.sorting-filter a,
.sorting-filter-title {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-filter a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
}

.sorting-filter a:hover,
.sorting-filter a:focus {
  color: #81b3d2;
}

.sorting-filter a:active {
  color: #000000;
  text-decoration: none;
}

/*Отели*/
.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-item {
  min-height: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.hotel-item-inner {
  display: flex;
  min-width: 255px;
  height: 90px;
}

.hotel-item p,
.hotel-item h3 {
  margin: 0;
  padding: 0;
}


.hotel-item-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-item-title a:hover,
.hotel-item-title a:focus {
  color: #81b3d2;
}

.hotel-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  padding-left: 30px;
  margin-right: 495px;
}


.hotel-description h3,
.hotel-description p {
  margin-bottom: 10px;
}

.hotel-info {
  display: flex;
  color: #000000;
}

.hotel-type {
  display: block;
  min-width: 115px;
}

.hotel-item .hotel-more {
  min-width: 110px;
  min-height: 27px;
  margin-right: 2px;
  padding: 4px 16px;
  text-align: center;
  color: #ffffff;
  line-height: 20px;
  background-color: #81b3d2;
}

.hotel-item .hotel-more:hover,
.hotel-item .hotel-more:focus {
  background-color: #669ec0;
}

.hotel-item .hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-item .hotel-reservation {
  min-width: 142px;
  min-height: 27px;
  padding: 4px 15px;
  text-align: center;
  color: #ffffff;
  line-height: 20px;
  background-color: #766357;
}

.hotel-item .hotel-reservation:hover,
.hotel-item .hotel-reservation:focus {
  background-color: #604e43;
}

.hotel-item .hotel-reservation:active {
  border-bottom: 1px solid #503e33;
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 110px;
}

.hotel-rating-four-star {
  width: 85px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
  margin-bottom: 45px;
}

.hotel-rating-three-star {
  width: 60px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
  margin-bottom: 45px;
}

.hotel-rating-two-star {
  width: 38px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
  margin-bottom: 45px;
}

.rating-hotel-number {
  min-width: 142px;
  min-height: 27px;
  padding: 4px 15px;
  text-align: center;
  color: #666666;
  line-height: 20px;
  background-color: #f2f2f2;
}


